*{
    padding: 0;
    margin: 0;
}

:root{
    --primary-text-color:#45aed6;
    --secondary-text-color:#cdcdcdf6;
}

nav{
    height: 70px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans;
    border-bottom: 4px solid var(--primary-text-color);
}

nav h1{
    color:var(--primary-text-color);
    font-size:40px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    padding: 30px 10px;
    display: inline-block;
}

nav ul li:hover{
    background-color: var(--primary-text-color);
}

.container{
    background-image: url(img/banner.jpg);
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.container span{
    color: var(--primary-text-color);
    font-size: 60px;

}

.container h2{
    font-size: 50px;
    padding: 10px;

}

.container h3{
    font-size: 30px;

}

.container h2, h3, button{
    color:white;
    width: 40%;

}

.container button{
    padding: 10px;
    margin: 10px;
    border: 1px solid ;
    cursor: pointer;
    font-size: large;
    background-color: transparent;
    width: fit-content;
}

.container button:hover{
    color: black;
    background-color: white;
}

.feat{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: black;
}

.feat h3{
    color: black;
    font-size: 40px;
}

.feat P{
    font-size: large;
    padding: 10px 0 40px 0;
}

.our {
    display: flex;
    justify-content: space-between;
    height: 20vh;
    width: auto;
}

.our h4 ul{
    text-align: left;
    padding-top: 10px;
    margin: 0 0 0 20px;
}

.serv{
    background-image: url(img/Screenshot1\ 2024-03-17\ 232100.png);
    height: 80vh;

}

.about{
    background-color: var(--secondary-text-color);
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.about h2{
    color: var(--primary-text-color);
    font-size: 50px;
}

.us{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}

.us div{
    width: 40%;
    text-align: start;
}

.us div h3{
    color: black;
    font-size: xx-large;
    padding: 10px;
}

.us div h4{
    padding: 10px;
}

.us div button{
    padding: 10px;
    margin: 10px;
    border: 1px solid ;
    cursor: pointer;
    font-size: large;
    background-color: var(--primary-text-color);
}

.pric{
    height: 60vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pric h2{
    color: var(--primary-text-color);
    font-size: 50px;
}

.pric .con{
    height: 12vh;
    width: 240px;
    background-color: var(--primary-text-color);
    font-size: large;
    padding-top: 20px;
    margin-top: 40px;

}

.pric .con h2, h3, p{
    width: auto;
    color: white;
}

.pric .con div{
    width: 240px;
    background-color: var(--secondary-text-color);
    height: 33vh;
}

.pric .con div p{
    padding: 7px;
    color: black;
}

.pric .con div button{
    padding: 10px;
    margin: 16px;
    border: 1px solid;
    cursor: pointer;
    font-size: large;
    background-color: var(--primary-text-color);
}

.pric .con:first-of-type{
    background-color: black;
}
.pric .con:last-child{
    background-color: black;
}

.pric .c{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:  2%;
}

.business{
    height: 36vh;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: white;
}

.business .g{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
}

.business h2{
    padding: 20px;
    font-size: 40px;
}

.business .c{
    height: 100px;
    width: 100px;
    border: 4px solid var(--primary-text-color);
    border-radius: 50%;
    margin: 20px;
}

.business .c h3, .business .c h4{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90%;
    font-size: x-large;
}


.team{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.team h2{
    color: var(--primary-text-color);
    font-size: 40px;
    padding: 10px;
}

.team h4{
    margin: 20px;
}

.A{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px;
    gap: 20px;
}

.n{
    background-color: #efefeffc;
}

.n h3{
    color: black;
    font-size: xx-large;
}

.n p{
    color: black;
}


.contact{
    height: 48vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-text-color);
}

.contact h2{
    color: var(--primary-text-color);
    font-size: 40px;
    padding: 10px;
}

.p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding-top: 20px;
}

.o h3{
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
}

.o h4{
    padding:0 7px 8px 0;
}


i{
    margin-left: 40px;
}

.i input{
    display: block;
    padding: 7px;
    margin: 7px;
    outline: none;
    width: 300px;
}

.i button{
    padding: 10px;
    margin-left: 8px;
    border: 1px solid ;
    cursor: pointer;
    font-size: large;
    background-color: var(--primary-text-color);
}

.i textarea{
    max-height: 87px;
    max-width: 317px;
    margin: 0 0 10px 8px;
    display: block;

}


footer{
    height: 7vh;
    background-color: black;
}

footer h2{
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
}



@media (max-width: 1000px) {
    nav{
        flex-direction: column;
        height: 12vh;
    }

    nav ul{
        font-size: 10px;
    }

    nav ul li a{
        padding: 24px 10px;
    }

    .feat .our img{
        width: 180px;
    }

    .serv{
        display: none;
    }

    .about .us img{
        width: 180px;
    }

    .about .us div :nth-child(3){
        display: none;
    }

    .pric .c{
        grid-template-columns: 1fr 1fr;
    }

    .pric .c .con:nth-child(3), .pric .c .con:nth-child(4){
        display: none;
    }

    .pric .con div {
        height: 34vh;
    }

    .pric {
        height: 64vh;
    }

    .business {
        height: 37vh;
    }

    .team{
        height: 102vh;
    }

    .team .A{
        grid-template-columns: 1fr 1fr;
    }

    footer{
        font-size: 14px;
    }
}


